<p style="color: green"><%= notice %></p>

<h1>All Users</h1>

<div class="users">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"><span>Avatar</span></th>
        <th scope="col"><span>Name</span></th>
        <th scope="col"><span>Email</span></th>
        <th scope="col"><span>Action</span></th>
        <% if current_user.admin? %>
          <th scope="col"><span>Delete</span></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>

<%# <%= link_to "New user", new_user_path %>
