<header>
  <nav class="navbar navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <%= link_to "sample app", root_path, id: "logo" %>
      <ul class="d-flex">
        <li><%= link_to "Home", static_pages_home_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
      </ul>
    </div>
  </nav>
</header>
